.char__search {
    margin-top: 30px;
    padding: 25px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    &-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 15px;
    }
    &-input {
        padding: 10px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        border: none;
        width: 100%;
        &::placeholder {
            color: rgba(0, 0, 0, 0.5);
        }
        &:focus-visible {
            outline: none;
        }
    }
    &-wrapper {
        display: flex;
    }
    &-submit {
        margin-left: 24px;
    }
}